.leaflet-container {
    height: 100%;
    width: 100%;
}

.alerts, .general-status {
  top: 0;
  background: #f7f7f7;
  width: 400px;
  min-height: 100%;
  z-index: 1000;
  position: relative;
  transition: ease 0.5s;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
  &.hidden {
    width: 0px;
  }
  &.hidden .side-content {
    transform: translateX(0);
  }
  .side-content {
    overflow-y: scroll;
    padding: 20px 15px;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    transition: ease 0.5s;
    width: 400px;
    transition: ease 0.5s;
  }
  .close-tab {
    position: absolute;
    right: -40px;
    width: 40px;
    height: 40px;
    top: 20px;
    z-index: 1000;
    background: #f7f7f7;
    border-radius: 0 6px 6px 0;
  }
}

.alerts {
  .close-tab.alerts-side {
    left: -40px;
    border-radius: 6px 0 0 6px;
  }
  .mini-alert {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(173, 173, 173);
    border-radius: 7px;
    margin: 5px 0;
    padding: 10px;
    background: #fff;
  }
}

.map-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  .general-status {
    &.hidden .side-content {
      transform: translateX(-400px);
    }
    .sites-status {
      display: flex;
      flex-direction: column;
      p {
        text-align: right;
        font-size: 0.9rem;
        span {
          font-weight: 500;
        }
      }
    }
    .sites-graph {
      display: flex;
      align-items: center;
      .total, .current {
        height: 10px;
        border-radius: 5px;
      }
      .total {
        flex: 1;
        background: rgb(156, 156, 156);
        width: 200px;
        position: relative;
        box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
      }
      .current {
        position: absolute;
        width: 100px;
        background: blue;
      }
    }
  }
  .map-view {
    flex: 1;
  }
  .mini-site {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin: 10px 0;
    justify-content: space-between;
    position: relative;
    p {
      font-size: 0.75rem;
    }
    .status-color {
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      width: 8px;
      min-height: 100%;
      background: black;
    }
    .status-graph {
      display: flex;
      align-items: flex-end;
      .graph {
        width: 60px;
        height: 60px;
        background: gray;
        margin-left: 5px;
      }
    }
    .status-text {
      padding-left: 10px;
      p {
        color: rgb(147, 147, 147);
      }
    }
  }
}
