$green: #50E3C2;
$text-gray: rgb(56, 56, 56);
$gray: #959697;
$red: #ed2a20;
$yellow: #FFC511;

*, html, body, p, ul, li, div, span, label, input, textarea, form {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html, body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  color: #000;
  font-weight: 400;
  letter-spacing: -.021em;
  font-synthesis: none;
  -moz-font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: ltr;
  text-align: left
}

html, body, #root, #app, #app-content, .body {
  height: 100%;
  width: 100%;
}

input, textarea {
  font-size: 1rem;
  outline: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

span.button {
  border: 1px solid #a4a4a4;
  border-radius: 3px;
  padding: 4px 15px;
  background: #fff;
  cursor: pointer;
  color: $text-gray;
  user-select: none;
  &.huge {
    font-size: 1rem;
    padding: 6px 20px;
    font-weight: 500;
  }
  &.window {
    padding-left: 25px;
  }
  &:hover {
    color: #000;
  }
}

input[type="text"], input[type="email"], input[type="password"] {
  border-bottom: 1px solid rgb(164, 164, 164);
}

span.small-icon {
  width: 19px;
  height: 19px;
  display: block;
  cursor: pointer;
  background-size: contain;
  &.deactive {
    opacity: 0.6;
  }
  &.list { background-image: url('/static/img/icons/list.svg'); }
  &.dynamic { background-image: url('/static/img/icons/dynamic.svg'); }
  &.static { background-image: url('/static/img/icons/static.svg'); }
  &.grid { background-image: url('/static/img/icons/grid.svg'); }
}

@keyframes grow {
  0% { transform: scale(1.0); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1.0); }
}
.warnings-icon, .alerts-icon, .no-failures-icon {
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 3px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
}
.warnings-icon { background-image: url('/static/img/icons/attention-yellow.png'); }
.alerts-icon {
  background-image: url('/static/img/icons/attention-red.png');
  animation: grow 2s infinite;
}
.no-failures-icon {

}
.tooltip {
  min-width: 85px;
  height: 20px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .hidable {
    display: none;
  }
  &.active {
    min-width: 85px;
    height: 85px;
    .general {
      flex-direction: column;
    }
    .hidable {
      display: block;
    }
  }
  .general {
    position: absolute;
    display: flex;
    align-items: center;
    .icons {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    h3 {
      max-width: 70px;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }
  }
  span {
    font-size: 0.8rem;
    font-weight: 500;
    position: relative;
  }
}

p span {
  font-weight: 600;
}

p.mini-icon {
  padding-left: 1.5rem;
  position: relative;
  &.alert::before {
    background: url('/static/img/icons/alert-mini.png') no-repeat center center;
  }
  &.warning::before {
    background: url('/static/img/icons/warning-mini.png') no-repeat center center;
  }
  &::before {
    position: absolute;
    content: '';
    width: 1rem;
    height: 1rem;
    bottom: 0;
    left: 0;
    background: $text-gray;
  }
}

ul.links {
  display: inline-block;
  &.nav {
    li {
      padding: 0;
      a { padding: 19px 15px; }
    }
  }
  li {
    cursor: pointer;
    display: inline-block;
    background: #fff;
    padding: 19px 15px;
    font-size: 0.85rem;
    color: rgb(47, 47, 47);
    font-weight: 600;
    overflow: hidden;
    &.deactivated {
      cursor: default;
      color: rgb(208, 208, 208);
      opacity: 0.8;
    }
    a {
      display: block;
      height: 50px;
      padding: 19px 8px;
      opacity: 0.6;
    }
    a.selected {
      position: relative;
      opacity: 1;
      &:after {
        content: '';
        display: block;
        width: 100%;
        top: 48px;
        left: 0;
        right: 0;
        position: absolute;
        height: 2px;
        background: #000;
      }
    }
    &.big {
      text-transform: none;
      font-size: 1rem;
      padding: 4px 15px;
      border: 1px solid $gray;
      background-color: #fff;
      background-repeat: no-repeat;
      background-size: 16px;
      &.search { padding-left: 38px; background-image: url('/static/img/icons/search.svg'); background-position: 12px center; }
      &.create { padding-right: 38px; background-image: url('/static/img/icons/add.svg'); background-position: 62px center;  }
      &:first-child {
        border-right: 0;
      }
    }
    &.huge {
      font-size: 1.2rem;
      padding: 8px 20px;
      input {
        font-size: 1.2rem;
      }
    }
  }
}

.content {
  margin: 0 20px;
}

.pop-window, .back {
  cursor: pointer;
  display: block;
  padding-left: 22px;
  background-size: 19px;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: left center;
}
.pop-window {
  display: inline-block;
  margin-left: auto;
  background-image: url('/static/img/icons/window.svg');
}
.back {
  background-image: url('/static/img/icons/back.png');
}

@import "./containers/Sites";
@import "./containers/App";
@import "./leaflet";

nav {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 1100;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  align-items: center;
  flex-shrink: 0;
  background: #fff;
  span {
    color: rgb(105, 105, 105);
    margin-right: 20px;
  }
  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  }
  .navigation {
    display: flex;
    align-items: center;
    img.logo.mini {
      width: 30px;
      height: 30px;
      box-shadow: none;
      padding: 0;
      margin: 0;
      opacity: 0.6;
    }
    span {
      font-size: 0.85rem;
      font-weight: 600;
      color: #000;
    }
  }
  .user {
    display: inline-flex;
  }
  .username {
    margin-left: 15px;
    font-size: 0.9rem;
    font-weight: 500;
    color: #000;
    p:last-child {
      font-size: 0.7rem;
    }
  }
}


.alert-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 2000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .alert-content {
    width: 350px;
    height: 170px;
    background: $red;
    border-radius: 7px;
    padding: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h2 {
      margin-bottom: 10px;
    }
    .dismiss {
      cursor: pointer;
      font-weight: 600;
      margin-left: auto;
    }
  }
}


/*

  M A P

 */

.leaflet-container {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.prompt-element {
  position: fixed;
  background: rgba(#000, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1100;
  .content {
    background: #fff;
    padding: 20px;
    min-width: 300px;
    span {
      font-weight: 600;
      font-size: 0.9rem;
      display: block;
    }
    .options {
      display: flex;
      justify-content: space-between;
      margin: 20px;
      li {
        cursor: pointer;
        width: 75px;
        height: 75px;
        border-radius: 5px;
        border: 1px solid $text-gray;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }
    .cancel {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      span {
        margin-bottom: 0;
      }
    }
  }
}

.map-container > .alerts, .map-container .general-status {
  top: 0;
  background: #f7f7f7;
  width: 500px;
  min-height: 100%;
  z-index: 1000;
  position: relative;
  transition: ease 0.5s;
  // box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
  &.window, {
    width: 100%;
    .side-content {
      width: 100%;
    }
  }
  &.hidden {
    width: 0px;
  }
  &.hidden .side-content {
    transform: translateX(0);
  }
  .side-content {
    padding: 20px 15px;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 500px;
    transition: ease 0.5s;
    overflow-y: scroll;
    border-right: 1px solid $gray;
    .top {
      display: flex;
      justify-content: space-between;
    }
  }
  &.hidden {
    .close-tab {
      &.sites {
        background-image: url('/static/img/icons/tower.png');
      }
      &.alerts-side {
        background-image: url('/static/img/icons/alert.png');
      }
    }
  }
  .close-tab {
    cursor: pointer;
    position: absolute;
    right: -40px;
    width: 40px;
    height: 40px;
    top: 20px;
    z-index: 1000;
    background: #f7f7f7;
    // border-radius: 0 6px 6px 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30px;
    &.sites {
      transform: translateX(-1px);
      border: 1px solid $gray;
      border-left: none;
      background-image: url('/static/img/icons/large-back.png');
    }
    &.alerts-side {
      transform: rotate(180deg) translateX(-1px);
      border: 1px solid $gray;
      border-left: none;
      background-image: url('/static/img/icons/large-back.png');
    }
  }
}

.administrators {
  max-width: 1000px;
  margin: 20px auto 0;
  .header {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
  }
  .zone-container {
    .zone {
      margin: 10px 0;
      .zone-name {
        color: $text-gray
      }
      .admin {
        display: flex;
        justify-content: space-between;
        p, div {
          flex-grow: 1;
        }
        .permits, .names {
          display: flex;
        }
        .chat {
          display: flex;
          align-items: center;
          p { margin-left: 5px; }
        }
        .name {
          font-weight: 500;
          color: #000;
        }
      }
    }
  }
}

.alerts {
  .general-alerts {
    padding-left: 45px;
    background: url('/static/img/icons/alert-red.png') no-repeat left center;
    background-size: 40px;
    margin-bottom: 20px;
    h3 {
      font-weight: 400;
    }
    p {
      font-weight: 600;
    }
  }
  .side-content {
    border-left: 1px solid $gray;
  }
  .close-tab.alerts-side {
    left: -40px;
    // border-radius: 6px 0 0 6px;
  }
  .zone-section {
    display: flex;
    align-items: baseline;
  }
  .mini-alert {
    // box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(173, 173, 173);
    border-radius: 7px;
    margin: 5px 0;
    padding: 10px;
    background: #fff;
    background-size: 30px;
    padding-left: 40px;
    background-repeat: no-repeat;
    background-position: 5px center;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    .location, .date {
      font-size: 0.9rem;
      color: $gray;
      font-weight: 500;
    }
    .status {
      display: flex;
      align-items: flex-end;
      margin-top: 3px;
      font-size: 1.05rem;
      .value {
        margin-left: 10px;
      }
    }
    .value, .check {
      color: $red;
      font-weight: 600;
    }
    .check {
      margin-top: 3px;
      text-align: right;
    }
    .type {
      font-weight: 500;
    }
    &.battery { background-image: url('/static/img/icons/battery.png'); }
    &.fuel { background-image: url('/static/img/icons/fuel.png'); }
    &.temperature { background-image: url('/static/img/icons/temperature.png'); }
  }
}


.map-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow-x: hidden;
  &.creating {
    .close-tab, .map-view .actions {
      justify-content: flex-end;
    }
    .close-tab, .map-view .actions .links.hiddable {
      display: none;
    }
    .map-view .actions .cancel, .create-zone-bar {
      display: block;
    }

    .leaflet-container {
      cursor: crosshair;
    }
    .map-view .create-zone-bar {
      display: flex;
    }
  }
  .sensors-cameras {
    width: 100%;
    border-bottom: 1px solid $gray;
    padding-bottom: 10px;
    padding-top: 20px;
    margin-bottom: -10px;
    span {
      cursor: pointer;
      margin-right: 20px;
      font-weight: 500;
      opacity: 0.7;
      &:hover, &.active {
        opacity: 1;
      }
    }
  }
  .mini-sites-menu {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 10px;
    .view-settings, .view-ordering {
      display: flex;
      span {
        margin-left: 10px;
      }
    }
  }
  .mini-sites-container {
    padding-bottom: 30px;
    display: flex;
    &.list {
      flex-direction: column;
      .mini-zone {
        display: flex;
        flex-direction: row;
        .count, .reports-count {
          display: flex;
        }
        .reports-count {
          margin-top: auto;
          p {
            display: flex;
            color: #000;
            font-weight: 400;
            margin-right: 10px;
            &.no-failures {
              color: #999;
            }
          }
        }
        .sites, .admin, .subzones {
          padding-left: 20px;
          background-size: 16px;
          background-repeat: no-repeat;
          background-position: left center;
          margin-right: 10px;
        }
        .sites { background-image: url('/static/img/icons/sites-mini.png'); }
        .admin { background-image: url('/static/img/icons/admin-mini.png'); }
        .subzones { background-image: url('/static/img/icons/zones-mini.png'); }
      }
    }
    &.grid {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      a {
        display: block;
        flex-basis: 45%;
      }
      .mini-zone {
        flex-direction: column;
        height: 150px;
      }
    }
  }
  .general-status {
    &.hidden .side-content {
      transform: translateX(-500px);
    }
    .overall {
      // padding-left: 45px;
      // background: url('/static/img/icons/tower.png') no-repeat left top;
      background-size: 40px;
      span {
        font-size: 0.85rem;
        font-weight: 500;
        color: $gray;
      }
      h3 {
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
    .sites-status {
      display: flex;
      flex-direction: column;
      p {
        text-align: right;
        font-size: 0.9rem;
        span {
          font-weight: 500;
        }
      }
    }
    .sites-graph {
      display: flex;
      align-items: center;
      .total, .current {
        height: 10px;
        border-radius: 5px;
      }
      .total {
        flex: 1;
        display: flex;
        background: $gray;
        width: 200px;
        // box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
        overflow: hidden;
      }
      .normal, .warnings, .alerts {
        display: inline-block;
        height: 10px;
        transition: ease 0.5s;
      }
      .normal { background: $green; }
      .warnings { background: $yellow; }
      .alerts { background: $red; box-shadow: none; }
    }
  }
  .map-view {
    flex: 1;
    position: relative;
    &.hidden {
      display: none;
    }
    .create-zone-bar {
      display: none;
      position: absolute;
      bottom: 20px;
      width: 100%;
      z-index: 999;
      justify-content: center;
    }
    .actions {
      position: absolute;
      z-index: 999;
      top: 25px;
      width: 100%;
      display: flex;
      justify-content: center;
      .cancel {
        margin-right: 50px;
        display: none;
      }
    }
  }
  .mini-zone {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background: #fff;
    // box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin: 10px 0;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    p {
      font-size: 0.75rem;
    }
    &.active .status-color {
      width: 8px;
    }
    .status-color {
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      width: 2px;
      min-height: 100%;
      background: transparent;
    }
    .status-graph {
      display: flex;
      align-items: flex-end;
      .graph {
        width: 70px;
        height: 70px;
        margin-left: 5px;
        position: relative;
        .percentage {
          position: absolute;
          width: 70px;
          height: 20px;
          text-align: center;
          vertical-align: middle;
          font-weight: 500;
          top: 25px;
          color: $text-gray
        }
      }
    }
    .status-text {
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      p {
        color: rgb(147, 147, 147);
      }
    }
  }
}

/*

  S E T T I N G S

 */

.settings {
  display: flex;
  flex-direction: column;
  .content {
    margin: 50px auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
  }
  .restore {
    input {
      margin-right: 15px;
    }
  }
  form {
    display: block;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    > div {
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
    }
  }
  .button {
    margin-top: 30px;
    align-self: flex-end;
  }
}


.login {
  .iso {
    display: block;
    margin: 0 auto;
    width: 75px;
    height: 75px;
    margin-top: 50px;
  }

  .logo {
    display: block;
    width: 160px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 300px;
  }
  input {
    margin-top: 20px;
  }
  input[type="text"], input[type="password"], input[type="submit"] {
    border: 1px solid $gray;
    padding: 7px 16px;
  }
  input[type="submit"] {
    background: #fff;
    &.active {
      background: #000;
      color: #fff;
    }
  }
  a {
    margin-top: 10px;
    margin-left: auto;
  }
}
