*, html, body, p, ul, li, div, span, label, input, textarea, form {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html, body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

html, body, #root, #app, #app-content, .body {
  height: 100%;
  width: 100%;
}

input, textarea {
  font-size: 1rem;
  outline: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

span.button {
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  padding: 2px 15px;
  &.window {
    padding-left: 25px;
  }
}

ul.links {
  display: inline-block;
  li {
    display: inline-block;
    background: #fff;
    border-radius: 0;
    border: 1px solid rgb(164, 164, 164);
    padding: 2px 15px;
    font-size: 0.8rem;
    color: rgb(47, 47, 47);
    font-weight: 500;
  }
  li:first-child {
    border-radius: 6px 0 0 6px;
    border-right: 0;
  }
  li:last-child {
    border-left: 0;
    border-radius: 0  6px 6px 0;
  }
}

.content {
  margin: 0 20px;
}

.pop-window {
  padding-left: 22px;
  background: url('/static/img/icons/window.svg') no-repeat left center;
  background-size: 19px;
  font-size: 0.9rem;
  font-weight: 500;
}

@import "./components/Nav";
@import "./containers/App";
@import "./containers/Sites";

@import "./containers/Map";
@import "./leaflet";
